{% extends 'courses/main-layout.html' %}
{% block main_section %}

    <div class="container mt-5">
        <h2>{{ title }}</h2>
        {% if user.is_authenticated == False or user.profile.account_type == 'Free pack' %}
        <p>You can buy our subscribe for full access to courses</p>
        <div class="row row-cols-1 row-cols-md-2 mb-3 text-center">
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Free</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">0$
                  <small class="text-body-secondary fw-light">/mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>Free courses</li>
                  <li>Support</li>
                  <li>Consultations</li>
                  <li>Homeworks</li>
                </ul>
                <button type="button" class="w-100 btn btn-lg btn-outline-primary">Sign up for free</button>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Full</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">$15<small class="text-body-secondary fw-light">/mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>Full courses</li>
                  <li>Best support</li>
                  <li>Consultations</li>
                  <li>Homeworks</li>
                </ul>
                <button type="button" class="w-100 btn btn-lg btn-primary">Get started</button>
              </div>
            </div>
      </div>
      {% else %}
      <p>You have Full pack tariff</p>
      {% endif %}
    </div>

    </div>
{% endblock %}